<nav>
  <a class="brand" href="#">Fomezero</a>
  <ul class="menu right">
    <li class="menu-item">
      <%= link_to 'Restaurant', restaurants_path, class: 'menu-item-link' %>
      <%= link_to 'Plates', plates_path, class: 'menu-item-link' %>
      <%= link_to 'Ingredients', Ingredients_path, class: 'menu-item-link' %>
    </li>
  </ul>
</nav>