<!DOCTYPE html>
<html>
<head>
  <title>Fomezero</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav>
    <a class="brand" href="#">Fomezero</a>
    <ul class="menu right">
      <li class="menu-item">
        <a class="menu-item-link" href="/restaurants">Management</a>
      </li>
    </ul>
  </nav>

  <%= yield %>
</body>
</html>
